<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <script src="script.js"></script>
</head>
<style>
* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  align-items: center;
}
.content-table {
  border-collapse: collapse;
  margin: 0vh 0 0 30vh;
  font-size: 1.9em;
  min-width: 135vh;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h1{
  background-color: whitesmoke;
  background-size: 1vh;
  color: #333;
  margin-bottom: 10vh;
  margin-top: 5vh;
  margin-left: 60vh;
  margin-right: 60vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius:90% 0% 90% 0% ;
  opacity: 65%;

}

html { 
  background: url(max_chess.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content-table thead tr {
  background-color: #333;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  opacity: 95%;
}
.button {
  margin-left: 170vh;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}
 
.button:hover {
  text-decoration:none;
  background:#eee;
}

.content-table th {
  background-color: #333;
  color: whitesmoke;
  border-radius: 0.5%;
  opacity: 90%;
  font-size: 0.7em;
  }

.content-table td {
  padding: 15px 5px;
  background-color: whitesmoke;
  opacity: 80%;
  border-radius: 0.5%;
  font-size: 0.7em;
  }

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  opacity: 90%;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #333;
  opacity: 90%;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #333;
}

</style>
<body>
<form class="button"; action="rounds.html">
  <input type="submit" value="First Round" />
</form>
<h1>♞ The Players ♞</h1>

<table class="content-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>BIRTHDAY</th>
        <th>GENDER</th>
        <th>RANK</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
      <tr>
       <td>#{{ player.doc_id }}</td>
       <td>{{ player.name }}</td>
       <td>{{ player.surname }}</td>
       <td>{{ player.birthday }}</td>
       <td>{{ player.gender }}</td>   
       <td>{{ player.rank }}</td>     
      </tr>
      {% endfor %}
    </tbody>
</table>
</body>
</html>